<%= form_for :login, url: new_login_path do |l| %>
  <h1>Login</h1><br><br>

	<%= l.text_field :email, placeholder: "E-mail" %><br>

	<%= l.password_field :password, placeholder: "Senha" %><br>

	<%= l.submit "Login", :class => "btn btn-primary", style: "margin-top: 30px;" %>
<% end %>