@import "bootstrap";

html{

}

body{
  background-image: image-url("bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  -webkit-filter: saturate(2);
  -moz-filter: saturate(2);
}

/* INDEX */
#user_picture{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 7px;
  border: 1px solid rgba(0,0,0,0.5);
}

.btn-more{
  background-color: #FFCC66;  
  border: none;
  border-bottom: 5px solid rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.8);
  font-size: 180%;
  transition: 0.2s;
}

.btn-more:hover{
  background-color: #FFBB00;  
  border: none;
  border-bottom: 0px solid rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.notice{
  position: fixed;
  top: 70px;
  z-index: 10;
  width: 25%;
  margin-left: 78%;
  text-align: center;
  box-shadow: 0px 0px 20px green;
}

#icon{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.jumbotron{
  background-image: image-url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;  
}

.jb-header{
  position: fixed;
  z-index: 0;
  width: 100%;
}

.sky{
  background-image: image-url("bg-sky.jpg");
  height: 500px;
}

.sky h1{
  position: relative;
  color: white;
  top: 60px;
}

#body{
  background-color: white;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 93%;
  padding-top: 60px;
  
}

.idea{
  height: 500px;
  padding: 60px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: center;
}
.idea h1{
  margin: 0 auto;
  padding-top: 40px;
  width: 106%;
  margin-bottom: 100px;
}

.idea a{
  margin-left: 5%;
}

.row{
  padding: 60px;
}

.row h1{
  margin-bottom: 50px;
}

/* FORMS  */

form{
  padding: 40px;
  background-color: rgba(255,255,255,0.65);
  width: 450px;
  margin: 0 auto;
  text-align: center;
  
}

form h1{
  position: relative;
  width: 200px;
  margin: 0 auto;
}

input{
  padding: 5px;
  width: 250px;
  margin: 0 auto;
}

textarea{
  width: 250px;
}

/* index-ideas */

.message_index_ideas{
  position: fixed;
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 65px;
  background-size: cover;
}

#panel_ideas{
  position: relative;
  top: 200px;
  background-color: rgba(255,255,255,0.65);
}

.my_ideas{
  position: relative;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
}

.others_ideas{
  position: relative;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

#ideas{
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  text-align: left;
  margin-left: 100px;
  margin-bottom: 10px;

}

#status_idea{
  position: relative;
  float: right;
}

#title_idea{
  font-size: 150%;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}


#title_idea:hover{
  color: blue;
}

#description{
  margin-left: 65px;
  color: rgb(100,100,100);
}

#idealizer{
  font-size: 150%;
  text-decoration: none;
  color: black;
}

#idealizer:hover{
  color: blue;
}

#title_index_idea{
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 300%;
}

#title_index_idea img{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2%;
}


/* show_idea */

#comments{
  position: relative;
  background-color: rgba(255,255,255,0.65);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#comments form{
  border: none;
  background-color: transparent;
}

#comment{
  border-top: 1px solid rgba(0,0,0,0.3);
  width: 80%;
  font-size: 100%;
  text-align: left;
  padding: 20px;
  margin: 0 auto;
}

/* PERFIL */

.name_user_perfil{
  background-color: rgba(255,255,255,0.65); 
  padding: 20px; 
  position: relative;
  z-index: -1;
  float: left;
  width: 90%;
  margin-right: -60px;
  margin-left: -30px;
  padding-left: 50px;
  top: 20px;
}

.data{
  position: relative;
  float: center;
  margin-top: 80px;
  margin-left: 22px;
  margin-bottom: -60px;
  padding-left: 120px;
  padding-top: 70px;
}

